*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    outline: 0ch;
}

body{
    background-color: wheat;
    color: red;

    
}

header{
    display: flex;
    flex-flow: row nowrap;
}

.logo {
    width: 100%;
}adada a
fsdfdf sdf sdf sdfsfsfsf feDropShadow
s
feDropShadowf
sdf
sf

s
feBlenddfdfsf

solidcolorfsf
sf
sf
sf
sf
sfs
dfnsd
feBlendsd
feSpecularLightingf
sf
s
feBlendsf
sf
solidcolorf
feDiffuseLightingsdf
solidcolorfsd
feBlendsf
