*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    outline: 0ch;
}

body{
    background-color: wheat;
    color: red;

    
}

header{
    display: flex;
    flex-flow: row nowrap;
}

.logo {
    width: 100%;
}